// 表格样式美化
td, th {
  padding: 0px;
  border: 0px;
}
table {
  border: 0px;
}
table tbody {
  display: block;
  overflow: scroll;
}
table thead,
tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}